webhook-to-post-id
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-sermon",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "259e0051-7fee-4ca2-ada2-1e73ab4c9e8d",
      "name": "Webhook",
      "webhookId": "c0217a86-7c7c-489c-89fc-a81b3afd466f"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1W_yyNf9sdqMDJsfFJqPsL9vplKKkArUXxt_rJtITDIw",
          "mode": "list",
          "cachedResultName": "Wordpress_Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W_yyNf9sdqMDJsfFJqPsL9vplKKkArUXxt_rJtITDIw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W_yyNf9sdqMDJsfFJqPsL9vplKKkArUXxt_rJtITDIw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.body.id }}",
            "Audio URL": "={{ $json.audioUrl }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Audio URL",
              "displayName": "Audio URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "What's Inside",
              "displayName": "What's Inside",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        620,
        0
      ],
      "id": "d581292e-f10f-4041-b662-698c3859d2ad",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7FLtfKlPC15ByR98",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const html = $json.body.content;\nconst audioUrlMatch = html.match(/src=\"([^\"]+\\.mp3)\"/);\n\nreturn [\n  {\n    json: {\n      audioUrl: audioUrlMatch ? audioUrlMatch[1] : \"Not found\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "86dec0c8-fabb-420e-a9a7-5ba658a9fe46",
      "name": "Code"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f318f1eeb582bef69a56797ad1f28184a54cfe51b0e461ee190c5740946ea07e"
  }
}
