webhook-postupdate.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-sermon",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "d80cdfd2-8494-4b41-b3cb-f0c36dd2eb3f",
      "name": "Webhook",
      "webhookId": "fd706cd5-db82-48e4-b43d-240a59500b0a"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1W_yyNf9sdqMDJsfFJqPsL9vplKKkArUXxt_rJtITDIw",
          "mode": "list",
          "cachedResultName": "Wordpress_Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W_yyNf9sdqMDJsfFJqPsL9vplKKkArUXxt_rJtITDIw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W_yyNf9sdqMDJsfFJqPsL9vplKKkArUXxt_rJtITDIw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Webhook').item.json.body.id }}",
            "Audio URL": "={{ $json.audioUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio URL",
              "displayName": "Audio URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "What's Inside",
              "displayName": "What's Inside",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        440,
        0
      ],
      "id": "a7922777-6bc1-4a5d-ae4c-6ff045235151",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bZIdcy3IAgcQLztH",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f065a6b7-13e0-4005-80c4-b0e9c0f63568",
              "leftValue": "={{ $json.sizeMB }}",
              "rightValue": 25,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1340,
        260
      ],
      "id": "9dc4d1ee-cfc5-423c-b83c-947878de3b41",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const html = $json.body.content;\nconst audioUrlMatch = html.match(/src=\"([^\"]+\\.mp3)\"/);\n\nreturn [\n  {\n    json: {\n      audioUrl: audioUrlMatch ? audioUrlMatch[1] : \"Not found\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "b51e1034-6271-4858-bb0d-1a2d3a109458",
      "name": "Extract URL"
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers || $json.data?.headers || {};\nconst contentRange = headers['content-range'];\n\nif (!contentRange) {\n  throw new Error(\"Missing content-range header\");\n}\n\nconst totalSizeBytes = parseInt(contentRange.split('/')[1]);\nconst sizeMB = totalSizeBytes / (1024 * 1024);\n\nreturn [\n  {\n    json: {\n      sizeBytes: totalSizeBytes,\n      sizeMB: sizeMB\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        260
      ],
      "id": "36dc2323-18b1-4165-aaf1-0f58babd550a",
      "name": "Get MB"
    },
    {
      "parameters": {
        "url": "={{ $json['Audio URL'] }}",
        "sendHeaders": true,
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        0
      ],
      "id": "72cd33bd-3dd9-417a-9206-403a91956197",
      "name": "Get File Information"
    },
    {
      "parameters": {
        "command": "=ffmpeg -i /tmp/input.mp3 -b:a 64k /tmp/output.mp3"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1600,
        200
      ],
      "id": "5dde9861-305d-46fc-be7d-52ccca8782e5",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "command": "ls -lh /tmp/input.mp3\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1120,
        -100
      ],
      "id": "182c8923-b88e-4b06-b075-855bcd392790",
      "name": "Check if file is saved"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/tmp/input.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "id": "dc64bd0e-f9fa-43ae-b2d5-d5f9aed37c3a",
      "name": "Save audio to temporary directory"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1840,
        340
      ],
      "id": "62b7bac5-40db-47d7-8222-eac9baf34c85",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1840,
        180
      ],
      "id": "124521fe-c4ce-48ec-b1b3-03deb8e0b3bb",
      "name": "OpenAI1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1W_yyNf9sdqMDJsfFJqPsL9vplKKkArUXxt_rJtITDIw",
          "mode": "list",
          "cachedResultName": "Wordpress_Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W_yyNf9sdqMDJsfFJqPsL9vplKKkArUXxt_rJtITDIw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1W_yyNf9sdqMDJsfFJqPsL9vplKKkArUXxt_rJtITDIw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio URL",
              "displayName": "Audio URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "What's Inside",
              "displayName": "What's Inside",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2060,
        240
      ],
      "id": "1466d1e4-5559-466f-b612-b70f4f8874da",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bZIdcy3IAgcQLztH",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "postId": "11",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        2280,
        240
      ],
      "id": "e5da702b-e8ae-4c3c-96b2-85c78c98ba55",
      "name": "Wordpress",
      "credentials": {
        "wordpressApi": {
          "id": "V0jtXI3DuUOBISWz",
          "name": "Wordpress account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Get File Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract URL": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get MB": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Information": {
      "main": [
        [
          {
            "node": "Save audio to temporary directory",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get MB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file is saved": {
      "main": [
        []
      ]
    },
    "Save audio to temporary directory": {
      "main": [
        [
          {
            "node": "Check if file is saved",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get MB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "404da7777b9ae3a6ef4a84e36ff3f6ed18ddf4e223c2dd8f9560a48938216fe2"
  }
}
